body {
	background-image: url("fondo-contacto.png");
	background-size: 100% auto;
	padding: 100px;
}

.selector, .map {
	text-align: center;
	padding: 20px 10px;
}

.mapSites {
	border: 3px solid #8A4C4C;
	width: 70%;
	height: 500px;
}

.selector  p {
	color: white;
	font-size: 1em;
}

.selector button {
	color: white;
	background: #8A4C4C;
	border-radius: 10px;
	border: 2px solid transparent;
	padding: 10px;
}

.selector button:hover {
	border: 3px solid #8A4C4C;
	background: transparent;
	color: #8A4C4C;
	transition: all 0.5s;
}

.searchPoi {
	padding: 10px;
	margin: 5px 5px;
	background: rgba(0, 0, 0, 0.5)
}

.searchPoi input {
	position:
}